
.badge-inverse {
  background-color: #333333;
}

.fa-heart {
    color: red !important;
}

.thumbnail img {
	width: 100%
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}

